# UNDERSTANDING LOOPS
for loops-example-1
creating list

In [1]:
num=(1,2,3,4,5,6,'btech',8,7,9)
for i in num:
    print("keerthana")

keerthana
keerthana
keerthana
keerthana
keerthana
keerthana
keerthana
keerthana
keerthana
keerthana

In [2]:
for i in num:
    print(i)

1
2
3
4
5
6
btech
8
7
9

In [3]:
i=1
for i in range(10):
    print(i,"keeri")

0 keeri
1 keeri
2 keeri
3 keeri
4 keeri
5 keeri
6 keeri
7 keeri
8 keeri
9 keeri

In [4]:
a={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20}

for i in a:
    if i%2==0:
        print(i,"is an even number")
for i in a:
    if i%2!=0:
        print(i,"is an odd number")

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number
20 is an even number
1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number
11 is an odd number
13 is an odd number
15 is an odd number
17 is an odd number
19 is an odd number

# while loop
example-1

In [12]:
n=int(input("enter a number:"))
val=0
i=0
while i<=n:
    val+=i
    i+=1
    print("the sum is ",val)

enter a number:34
the sum is  0
the sum is  1
the sum is  3
the sum is  6
the sum is  10
the sum is  15
the sum is  21
the sum is  28
the sum is  36
the sum is  45
the sum is  55
the sum is  66
the sum is  78
the sum is  91
the sum is  105
the sum is  120
the sum is  136
the sum is  153
the sum is  171
the sum is  190
the sum is  210
the sum is  231
the sum is  253
the sum is  276
the sum is  300
the sum is  325
the sum is  351
the sum is  378
the sum is  406
the sum is  435
the sum is  465
the sum is  496
the sum is  528
the sum is  561
the sum is  595

In [13]:
 c=0
while c<15:
    print(c+1,"inside the loop")
    c+=1
else:
    print("get out of the loop")

1 inside the loop
2 inside the loop
3 inside the loop
4 inside the loop
5 inside the loop
6 inside the loop
7 inside the loop
8 inside the loop
9 inside the loop
10 inside the loop
11 inside the loop
12 inside the loop
13 inside the loop
14 inside the loop
15 inside the loop
get out of the loop

# break statement

# for loop

In [14]:
for val in "string":
    if val=="i":
        break
    print(val)
print("the end")

s
t
r
the end

# whileloop

In [15]:
c=0
while True:
    print(c)
    c+=1
    if c>=10:
        break

0
1
2
3
4
5
6
7
8
9

# functions
example 1

In [16]:
a=["raja","thiruda"]
b=["rani","thirudi"]

In [17]:
def con():
    i=0
    for j in a:
        fin=a[i]+b[i]
        i+=1
        print(f"{fin}")

In [11]:
con()

rajarani
thirudathirudi